# Database Configuration 

# MySQL Configuration
# If using Docker, MYSQL_HOST should be 'localhost' for local access 
# or the service name 'mysql' if running the app inside Docker.
MYSQL_USER=your_username
MYSQL_PASSWORD=your_password
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=product_db

# MongoDB Configuration
MONGO_HOST=localhost
MONGO_PORT=27017

# Application Settings
APP_TITLE="Product Verification Service"
APP_ENV=development
DEBUG=True
API_V1_STR=/api/v1

# Logging
LOG_LEVEL=INFO